/*Etiquetas en bordes*/

.div1 {
    background-color: orange;
    height: 80px;
    width: 80px;
}

.ul {
    background-color: #fa6915;
    border: 25px groove #c24725;
    border-radius: 15% 0% 15% 0%;
    border-width: 20px;
    color: #0973D2 font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    width: 30%;
}

.div2 {
    background-image: -webkit-linear-gradient(top, #0745a1, #098aaa);
    border: 10px groove #053F73;
    height: 200px;
    width: 400px
}

.div3 {
    background-image: -webkit-linear-gradient(top, #c24725, #fa6915);
    border: 10px double #053F73;
    height: 200px;
    width: 400px
}

.ej1 {
    border: #0973D2 10px dotted;
}

.ej2 {
    border: red 10px dashed;
}

.ej3 {
    border: rgb(23, 206, 38) 20px double;
}

.ej4 {
    background-color: #000;
    border: white 12px groove;
    color: #fff
}

.bord1 {
    background-image: -webkit-linear-gradient(top, #0b58cc, #41cdf0);
    border: rgb(7, 59, 201) 12px groove;
    color: #fff;
    height: 150px;
    width: 300px;
}

.bord2 {
    background-image: -webkit-linear-gradient(top, #d67c06, #f0b341);
    border: rgb(250, 107, 12) 12px groove;
    color: #fff;
    height: 150px;
    width: 300px;
}

.bord3 {
    background-image: -webkit-linear-gradient(top, #0b58cc, #41cdf0);
    border: rgb(7, 59, 201) 12px groove;
    color: #fff;
    height: 300px;
    width: 1200px;
}

.bord4 {
    background-image: -webkit-linear-gradient(top, #d67c06, #f0b341);
    border: rgb(250, 107, 12) 12px groove;
    color: #fff;
    height: 300px;
    width: 1200px;
}