.titulo {
    background-image: -webkit-linear-gradient(top, #3582f5, #012677);
    color: white;
    text-align: center;
}

.elemento {
    background-image: -webkit-linear-gradient(top, #099bdf, #1766db);
    color: #fff;
    text-align: center;
}

.elemento2 {
    background-image: -webkit-linear-gradient(top, #ee9105, #ca7900);
    text-align: center;
}

.elemento3 {
    background-image: -webkit-linear-gradient(top, #e0b805, #b89704);
    text-align: center;
}